#gpkg-file-button {
  padding: 40px 150px; /* Increase padding for a larger button */
  font-size: 6rem; /* Increase font size for better readability */
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%); 
  border-radius: 80px;
  border: 1px solid transparent;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
  white-space: nowrap;
  background-color: #3498db;
  opacity: 0.9;
  color: #fff;
}

.title {
  position: absolute;
  top: 0;
  background-color: #3498db;
  width: 100%;
  font-size: 1rem;
  text-align: center;
  color: white
}

.footer {
  position: absolute;
  top: 55%;
  background-color: #3498db;
  width: 100%;
  font-size: 2rem;
  text-align: center;
  color: white
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-image: url('https://source.unsplash.com/1600x900/?nature');
  background-size: cover;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}